/* prhStyle-media-queries.css
 * v1.4.2
 */


/* --------------- screen-width overrides --------------- */

@media screen and (min-width:500px) {
	
	.fixed-box-right {
		margin-left:40%;
	}

	.fixed-box-center {
		margin-left:20%;
		margin-right:20%;
	}
}
